@tailwind base;
@tailwind components;
@tailwind utilities;

#stripes {
    z-index: -1;
    width: 100%;
    height: 60%;
    overflow: hidden;
    transform: skewY(-12deg);
    transform-origin: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
}

#stripes, #stripes span {
    position: absolute;
}

#stripes span {
    height: 190px;
}

#stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: #53f;
}

#stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
}

#stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
}

#stripes :nth-child(4) {
    width: 33.33333%;
    top: 300px;
    right: -16.66666%;
    background: #25ddf5;
}

#stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #1fa2ff;
}