<%- include('templates/header') %> 
<section>
  <p>Hey, insert name here</p>
  <br>
  <h3>There was a problem with your order</h3>
  <br>
  <p>We could not the an authorization from your bank to proceed the payment.</p>
</section>
<%- include('templates/footer') %> 