<script>
  const checkout = document.getElementById('checkout');

const sendData = (data) => {
  return fetch("/transactions", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json"
      }
    }).then((res) => res.json());
  };

  checkout.addEventListener('click', () => {
    sendData({
      "Customer": {
        "email": "customer.email@email.com"
      },
      "Billing": {
        "MethodOfPayment": "Visa",
        "BillingAddress": {
          "Firstname": "Jean",
          "Lastname": "Bon",
          "Address": "68 Place Charles de Gaulle",
          "City": "VILLENEUVE-D",
          "Zipcode": "59791",
          "Country": "France"
        }
      },
      "Shipping": "Fast delivery",
      "ShoppingCart": ["article 1", "article 2"],
      "Price": "15€"
    });
  });
</script>
</body>

</html>